body{
width: 100%;
height: 100%;
margin:0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
ul{
padding-left: 0px;
} li{
list-style: none;
}
.main-container{
background-color: #fefefe;
}
.wrapper{
	position: relative;
	border: 1px solid #bcbcbc;
	overflow: hidden;
max-width: 1024px;
margin:0 auto;
width: 100%;
}
.left-pane{
	position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
	float: left;
width: 30%;
background-color: #4cb2fd;
border-right:1px solid #bcbcbc;
}
.right-pane{
	float: right;
width: 70%;
}
.menu-block{
height: 100px;
background-color: #389ee9;
padding:38px 0px 34px 30px;
}
.left-pane ul li{
position: relative;
background-color: #4cb2fd;
padding: 20px 20px 20px 30px;
-webkit-box-shadow: 0px 2px 5px 0px rgba(88,181,250,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(88,181,250,1);
box-shadow: 0px 2px 5px 0px rgba(88,181,250,1);
}
.left-pane ul li .active-usrimg{
margin-right: 20px;
display: inline-block;
vertical-align: middle;
}
.left-pane ul li .active-usrname{
display: inline-block;
vertical-align: middle;
font-family: 'Roboto', sans-serif;
font-size: 20px;
color:#ffffff;
}
.active{
position: absolute;
top:35px;
right:-13px;
background-color: #78f000;
width: 15px;
height: 15px;
border-radius: 15px;
border: 5px solid #ffffff;
}
.inactive{
position: absolute;
top:35px;
right:-13px;
background-color: #78f000;
width: 15px;
height: 15px;
border-radius: 15px;
border: 5px solid #ffffff;

}
.right-pane ul{
	background-color: #ffffff;
	margin-right: 40px;
	margin-left: 40px;
}
.right-pane ul li{
	padding-top: 25px;
}
.chatbot-pic{
	display: inline-block;
	vertical-align: top;
	margin-right: 24px;
	margin-top: 10px;
}
.chatbot-txt{
	position: relative;
	display: inline-block;
	vertical-align: top;
font-family: 'Roboto', sans-serif;
font-size: 15px;
color:#ffffff;
background-color: #4dadf9;
line-height: 1.5;
font-weight: 400;
padding:15px;
border-radius:15px;
width: auto; /*75%;*/
}
.arrow{
	width: 15px;
	height: 15px;
	background: url('/images/arrow.png')no-repeat;
	background-size: 15px 15px;
	position: absolute;
	top:35px;
	left:-15px;
}
.time{
	margin-right: 10px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
font-size: 15px;
color:#80d8ff;
}
.bot-box{
	overflow: hidden;
}
.bot-box li{
	float: left;
}
.usr-box{
	overflow: hidden;
}
.usr-box li{

	float: right;
	width: 100%;
	background-color: #ffffff;
	color:#8c8c8c;
	font-family: 'Roboto', sans-serif;
font-size: 15px;
-webkit-box-shadow: -1px -1px 155px 6px rgba(241,241,241,1);
-moz-box-shadow: -1px -1px 155px 6px rgba(241,241,241,1);
box-shadow: -1px -1px 155px 6px rgba(241,241,241,1);

}
.user-txt{
		border: 1px solid #ebebeb;
	position: relative;
	width: 70%;
	color:#9a9a9a;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	padding:15px;
	line-height: 1.5;
		display: inline-block;
	vertical-align: top;
-webkit-box-shadow: 0px 1px 35px 5px rgba(236,236,236,1);
-moz-box-shadow: 0px 1px 35px 5px rgba(236,236,236,1);
box-shadow: 0px 1px 35px 5px rgba(236,236,236,1);

margin-right: 30px;
}
.user-pic{
	margin-top: 15px;
	display: inline-block;
	vertical-align: top;
	width: 15%;
}
.usrarrow{
	width: 15px;
	height: 15px;
	background: url('/images/usrarrow.png')no-repeat;
	background-size: 15px 15px;
	position: absolute;
	top:35px;
	right:-15px;
}
.usrtime{
	margin-right: 10px;
	text-align: right;
	font-family: 'Roboto', sans-serif;
font-size: 15px;
	color:#cbcbcb;
}
.submit-wrap{
background-color: #fafafa;
    border-top: 1px solid #b3b3b3;
}
.input-msg{
	border: 0;
	display: inline-block;
	vertical-align: middle;
		color:#b3b3b3;
	font-family: 'Roboto', sans-serif;
font-size: 16px;
font-style: italic;
width: 90%;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;

padding: 25px;
outline: 0;
/*background: url('/images/msg-btn.png')no-repeat 95%;*/
/*background-size: 33px 32px;*/

border-bottom: 0;
border-right: 0;

}
.menu-icon{
	cursor: pointer;
}
.submit-icon{
	width: 7%;
	text-align: center;
	cursor: pointer;

	height:32px;
	display: inline-block;
	vertical-align: middle;
	background: url('/images/msg-btn.png')no-repeat 95%;
background-size: 33px 32px;
}